
#footer{
	min-width:100%;
	height:100px;
    background-color:#333333;
}
.copyright{
    text-align: center;
    line-height: 100px;
}
// footer{
//     position: absolute;/* ←絶対位置 */
//     bottom: 0;
    
//     /* 以下 背景色やテキストカラーなどはお好みで指定してください */
//     background: #1d1b3f;
//     color: #fff;
//     text-align: center;
// }