.logoimg{
    width: 60px;
    height: 60px;
    vertical-align: bottom;
}  
.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 56px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    z-index: 10;
}
.headerNavOuter {
    margin-bottom: 0;
    position: relative;
}
.siteIcon {
    margin: 0;
}
.siteIcon img {
    width: 60px;
    height: 60px
}
/* Start ナビゲーション */
.headerNav {
    position: fixed;
    right: -250px;/*右側に隠しておきます*/
    top: 0;
    width: 250px;
    height: 100vh;
    padding-top: 40px;
    background-color: #fff;
    -webkit-transition: all .6s;
    transition: all .6s;
    z-index: 20;
    overflow-y: auto;
}
.navList {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}
.navItem {
    padding: 1rem 1rem 0;
}
.navItem a {
    display: block;
    border-bottom: 1px solid #000;
    color: #000;
    padding: 4rem 0 1rem;
    width: 100%;
    margin: 0 auto;
}
/* End ナビゲーション */

/* Start ハンバーガーボタン(三本線の実装) */
.hamburger_btn {
    position: absolute;/*.headerNavOuterを基準にして、絶対配置*/
    right: 0;
    top: 0;
    width: 55px;
    height: 55px;
    cursor: pointer;
    z-index: 30;
}
.hamburger_line {
    position: absolute;/*.headerNavOuterを基準にして、絶対配置*/
    left: 8px;
    width: 25px;
    height: 1px;
    background-color: #111;
    -webkit-transition: all .6s;
    transition: all .6s;
}
.hamburger_line_1 {
    top: 20px;
}
.hamburger_line_2 {
    top: 26px;
}
.hamburger_line_3 {
    top: 32px;
}
/* End ハンバーガーボタン(三本線の実装) */

/*ハンバーガーメニュをクリックした後に現れる半透明の背景*/
.black-bg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #000;
    opacity: 0;
    visibility: hidden;/* 非表示にしておきます */
    -webkit-transition: all .6s;
    transition: all .6s;
    cursor: pointer;
}

/* Start ハンバーガーボタンをクリックした際の動き */
/* ナビゲーションが現れる */
.nav-open .headerNav {
    right: 0;
}

/* 半透明の背景を表示させます。 */
.nav-open .black-bg {
    opacity: .8;
    visibility: visible;
}

/* 三本線のハンバーガーを、バッテンにします */
.nav-open .hamburger_line_1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 25px;
}
.nav-open .hamburger_line_2 {
    width: 0;
    left: 50%;
}
.nav-open .hamburger_line_3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 25px;
}
/* End ハンバーガーボタンをクリックした際の動き */
/*
----------------------
End ハンバーガーメニュー
----------------------
*/
@media screen and (min-width: 768px) {
    // （ここにPC用スタイルを記述）
}
@media screen and (max-width: 767px) {
    // （ここにモバイル用スタイルを記述）
}
@media only screen and (min-width: 767px) and (max-width: 1280px) {
    // （ここにタブレット用スタイルを記述）
}