.scroll-top {
    position: fixed;
    right: 20px;
    bottom: 25px;
    z-index: 100;
    background-color: #4169e1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    line-height: 60px;
    text-align: center;
  }
  .scroll-top:hover {
    cursor: pointer;
    opacity: 0.3;
  }
  // 矢印
  .arrow-top {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    transform: rotate(45deg);
  }
  
  .js-scroll-top{
    opacity: 1;
    transition: opacity 350ms ease;
  }
  @media only screen and (min-width: 768px) {
    .scroll-top{
      right: 35px;
      bottom: 40px;
      width: 80px;
      height: 80px;
      line-height: 80px;
    }
  }