// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_tree .
//  *=require material_icons
//  *= require_self
//  */


@import "reset";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/brands';
@import "header";
@import 'bootstrap/scss/bootstrap';


/* universal */

*,*::before,*::after{
  box-sizing: border-box;
}
*{
  color: #333;
  text-decoration: none;
}
.wrap {
  margin-top: 56px;
  width: 100%;
}

section {
  overflow: auto;
}
textarea {
  resize: vertical;
}

body {
  min-height: 100vh;
  display: flex; //footerがおかしくなったらここ調整
  flex-direction: column; //footerがおかしくなったらここ調整
}
main {
  flex: 1 0 auto;
}
.txt {
  color: white;
}







