// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.name_genre{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 16px;
    border-top: solid 2px gray;
    border-bottom: solid 1px gray;
}
.shop-img{
  width: 250px;
  height: 250px;
}
.main{
  display: flex;
  padding: 16px;
  color: black;
}
.user_shop_img,.default_user_shop_img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main-left{
  padding: 8px 16px;
}
.user{
  display: flex;
}
.username{
  margin-left: 10px;
}




// create-btn
.create-btn {
  text-align: center;
  margin: 5px;
  // position: -webkit-sticky;
  // position: sticky;
  // top: 70px;
}
.btn-open {
  display: inline-block;
  width: 180px;
  height: 36px;
  text-align: center;
  background-color: #000;
  font-size: 14px;
  line-height: 38px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-open:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.btn-open:hover{
  color: #000;
}
.btn-open:hover:after{
  height: 240%;
  opacity: 1;
}
.btn-open:active:after{
  height: 340%;
  opacity: 1;
}



.content-title{
  text-align: center;
}


// showhtml

.shop-summary{
  padding: 1.2rem;
  border: solid #000 1px;
  height: 300px;
  margin: 0 auto;
  width: 90%;
}
#map {
  height: 300px;
  width: 90%;
  margin: 30px auto 0;
}
.shop-img-show{
  display: block;
  margin: 0 auto 30px;
  width: 90%;
  height: 360px;
}
.show-content{
  margin: 0 auto;
}
.show-main{
  display: flex;
  padding: 30px;
}
.show-main-right{
  width: 70%;
}
.show-main-left{
  width: 30%;
}
.clothes{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.cloth{
  margin: 5px;
  text-align: center;
}
.cloth-img{
  width: 270px;
  height: 336px;
}