// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.name_genre{
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 16px;
    border-top: solid 2px gray;
    border-bottom: solid 1px gray;
}
.shop-img{
  width: 250px;
  height: 250px;
}
.main{
  display: flex;
  padding: 16px;
  color: black;
}
.user_shop_img,.default_user_shop_img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main-left{
  padding: 8px 16px;
}
.user{
  display: flex;
}
.username{
  margin-left: 10px;
}

.show-content{
  margin: 0 auto;
  padding: 20px;
}
.shop-img-show{
  margin-top: 20px;
  width: 640px;
  height: 360px;
}
.show-shopname-font{
  font-size: 24px;
}