
  // 共通
  // create-btn######################################
  .create-btn {
    text-align: center;
    margin: 5px;
  }
  .arrow_r {
    position: relative;
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: #000 2px solid;
    text-decoration: none;
    width: 200px;
    height: 35px;
    line-height: 35px;
    transition: all 0.3s;
  }
  .arrow_r:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -4px;
    transition: all 0.3s;
    transform: rotate(45deg);
  }
  .arrow_r:hover{
    background-color: #fff;
    color: #000;
  }
  .arrow_r:hover:before{
    border-top: solid 2px #000;
    border-right: solid 2px #000;
  }
// ###############################
  .section-title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 5px auto 0;
  }
  .section-sub-title{
    font-size: 1rem;
    text-align: center;
    margin: 0px 0px 10px;
  }
  // ####################################
  .user_shop_img,.default_user_shop_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .user{
    display: flex;
  }
  .username{
    margin-left: 10px;
  }
  // ############################################3
  .contents-area{
    width: 100%;
  }
  .area{
    margin: 20px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
  }
  .area-serach{
    margin-top: 20px;
  }
  .sub-area-serach{
    margin: 0;
  }
  .osaka{
    background-image: image-url('osaka.jpg');
    background-size: cover;
  }
  .tokyo{
    background-image: image-url('tokyo.jpg');
    background-size: cover;
  }
  .kyoto{
    background-image: image-url('kyoto.jpg');
    background-size: cover;
  }

  // .content-title{
  //   text-align: center;
  // }
  .content-summary{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
  }
  .content-summary > p:first-child{
    color: black;
    font-weight: bold;
    margin-bottom: 0;
  }
  .content-summary>div>ul{
    width: auto; 
  }

  .store-data, 
  .store-data > li > p{
    margin-bottom: 0 !important;
  }
  
  .blue-horizon{
    height: 3px;
    border: none;
    background-color: #4169e1;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .shop-img{
    width: 300px;
    height: 200px;
  }
  .content{
    border: rgba(0,0,0,.7) 1px solid;
    padding: 5px;
    color: black;
    width: 95%;
    margin: 10px;
  }

@media screen and (min-width: 768px) {
  // create-btn######################################
  .arrow_r {
    padding-left: 20px;
    width: 382px;
    height: 45px;
    line-height: 45px;
    font-weight: bold;
  }
  // ##############################################
  // indexhtml
  .section-title{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 20px auto 0;
  }
  .section-sub-title{
    font-size: 1.2rem;
    margin: 5px 0px 30px;
  }

  .contents-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .area{
    width: 30%;
    margin: 20px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
  }
  .area-serach{
    margin-top: 50px;
  }

  .area-btn{
  margin-top: 40px;
  }

  // .content-title{
  //   text-align: center;
  // }
  // .content-summary{
  //   padding: 1.1rem;
  //   margin: 0 auto;
  //   text-align: center;
  // }
  .content-summary > p:first-child{
    margin: 20px auto 10px;
  }
  .content-summary > div {
    margin: 40px auto;
    text-align: right;
  }
  .content-summary>div>ul{
    text-align: left; 
    margin-left: auto; 
    margin-right: 10%; 
    width: auto; 
  }

  .blue-horizon{
    margin-bottom: 10px;
  }
  .shop-img{
    width: 180px;
    height: 200px;
  }
  .contents-main{
    display: flex;
    flex-wrap: wrap;
  }
  .content-right{
    width: 60%;
    border: rgba(0,0,0,.7) 1px solid;
  }
  .content-left{
    width: 40%;
  }
  .content{
    border: rgba(0,0,0,.7) 1px solid;
    display: flex;
    padding: 16px;
    width: 30%;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  // showhtml

  .shop-summary{
    padding: 1.2rem;
    border: solid rgba(0,0,0,.5) .5px;
    border-radius: 3px;
    height: 300px;
    margin: 30px auto;
    width: 90%;
    text-align: center;
  }
  .shop-summary > p:first-child{
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto 10px;
  }
  .shop-summary > div {
    margin: 40px auto;
    text-align: right;
  }
  .shop-summary>div>ul{
    text-align: left; 
    margin-left: auto; 
    margin-right: 10%; 
    width: 250px; 
  }
  .blue-horizon{
    height: 3px;
    border: none;
    background-color: #4169e1;
    margin-bottom: 10px;
  }
  #map {
    height: 300px;
    width: 90%;
    margin: 30px auto 0;
  }
  .shop-img-show{
    display: block;
    margin: 0 auto 30px;
    width: 90%;
    height: 360px;
  }
  .show-content{
    margin: 0 auto;
  }
  .show-main{
    display: flex;
    padding: 30px;
  }
  .show-main-right{
    width: 70%;
  }
  .show-main-left{
    width: 30%;
  }
  .clothes{
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .cloth{
    margin: 5px;
    text-align: center;
  }
  .cloth-explation{
    padding-top: 8px;
  }
  .cloth-explation p{
    margin: 0;
  }
  .cloth-name{
    font-size: 18px;
  }
  .delete,.edit{
    color: rgba(0,0,0,.7);
  }
  .delete:hover,.edit:hover{
    opacity: 0.7;
    border-bottom: 1px solid rgba(0,0,0,.7);
  }
  .cloth-img{
    width: 240px;
    height: 310px;
  }
    // （ここにPC用スタイルを記述）
}
@media only screen and (min-width: 767px) and (max-width: 1280px) {
    // （ここにタブレット用スタイルを記述）
}
