// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*,*::before,*::after{
    box-sizing: border-box;
}
// *{
// color: #333;
// text-decoration: none;
// }
.post-form{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.guestLogin{
    margin-top: 20px;
}

.user_img,.default_user_img{
    width: 72px;
    height: 72px;
    border-radius: 50%;
}
.user-info{
    // display: flex;
    // margin: 10px auto;
    padding: 16px;
}
.user-info-left{
    position: relative;
}
.follow-follwer{
    display: flex;
    position: absolute;
    top: 40%;
    right: 0px;
}
.follow-follwer > p{
    font-size: 12px;
    margin-left: 10px;
}
.follow-follwer > p > span{
    font-size: 16px;
}

.user-info-right{
    border-radius: 10px;
    background-color: #fff;
    font-size: 1.25rem;
    margin-top: 5px;
}
.user-info-right > p{
    font-size: 18px;
}
.user-edit{
    color:#333333;
    font-size: 14px;
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.2);
    text-align: center;
    margin: 0 auto;
    max-width: 510px;
}
.user-edit:hover{
    text-decoration: none;
    color: rgba(0,0,0,.5);
}


// .bar{
//     display: block;
//     width: 100%;
//     height: 1.5px;
//     background-color: rgba(0,0,0,.5);
//     border: 0; 
// }

// tab
section{
    width: auto;
    max-width: 1024px;
    margin: 20px auto;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    // border-right: 0.5px solid rgba(0,0,0,.2);
}
.tab{
    display: flex;
    justify-content: space-between;
}
.tab li{
    width: 33.3%;
}
.tab li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: black;
    background-color: #fff;
    // transition: 0.3s;
    // border-top:2px solid #ddd;
    border-bottom: 2px solid #ddd;
    font-size: 12px;
}
.tab li a:hover{
    text-decoration: none;
}
.tab li a.active{
    border-bottom:3px solid #000;
    // transition: all 0.6s;
}

.contents,ul.tab{
    margin: 0;
}
.contents li {
    background-color: #fff;
    display: none;
    min-height: 300px;
}

.contents > li.active{
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    // width: 100%;
    margin-top: 2px;
}
// .contents > li.active:after{
//     content: "";
//     display: block;
//     width: 33%; 
//     height: 0;
// }

// 投稿したお店
.user-shops{
    position: relative;
    width: 33%;
    text-align: center;
    margin: .5px;
}
.user-shops:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.user-shop-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}




@media screen and (min-width: 768px){
    .user_img,.default_user_img{
        width: 100px;
        height: 100px;
    }
    .tab li a:not(.active):hover{
        opacity: 0.7;
    }
    .user-shops{
        width: 24.8%;
    }
    .user-info{
        display: flex;
        margin: 10px auto;
    }
    .user-info-right{
        margin-left: 50px;
    }
    .user-info-right>p{
        font-size: 26px;
    }
    .follow-follwer{
        right: -270px;
        top: 50%;
    }
    .follow-follwer > p{
        font-size: 16px;
        margin-left: 10px;
    }
    .follow-follwer > p > span{
        font-size: 20px;
    }

}
// tabここまで


@media screen and (max-width: 350px){
    .follow-follwer{
        right: -10px;
    }
}

@media screen and (min-width: 1024px){
    .user-edit{
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .tab li a{
        font-size: 16px;
    }
    // .user_img,.default_user_img{
    //     width: 180px;
    //     height: 180px;
    //     border-radius: 50%;
    // }
    // .user-info{
    //     display: flex;
    //     margin: 10px auto;
    // }
    // .user-info-left{
    //     width: 30%;
    //     text-align: center;
    // }
    // .user-info-right{
    //     border-radius: 10px;
    //     background-color: #fff;
    //     width: 70%;
    //     font-size: 1.25rem;
    // }
    // .bar{
    //     display: block;
    //     width: 100%;
    //     height: 1.5px;
    //     background-color: rgba(0,0,0,.5);
    //     border: 0; 
    // }
    // .user-shops{
    //     width: 29%;
    //     border: black solid 1px;
    //     text-align: center;
    //     margin: 20px 10px;
    // }
    // .show-shop-summaury{
    //     text-align: center;
    // }
    
    // tab
    // section{
    //     // width: auto;
    //     max-width: 1000px;
    //     // margin: 50px auto;
    // }
    // .tab{
    //     display: flex;
    // }
    // .tab li{
    //     width: 20%;
    // }
    // .tab li a{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 40px;
    //     color: black;
    //     background-color: #fff;
    //     transition: 0.3s;
    //     border: black 1px solid;
    // }
    
}