<!DOCTYPE html>
<html>

<head>
  <title>RoRDocker</title>
  <%= render 'layouts/default' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <div class="wrap grey lighten-5">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>

</body>

</html>